<div class="slide-wrapper">
  <h2 class="slide-title">私のおすすめ山（さん）</h2>
    <div class="change-btn-wrapper">
      <div class="change-btn prev-btn">← 前へ</div>
      <div class="change-btn next-btn">次へ →</div>
    </div>
      <ul class="slides">
        <li class="slide active"><img src="P1016885.JPG"></li>
        <li class="slide"><img src="IMG_0989.JPG"></li>
        <li class="slide 1"><img src="81746F83-3B35-4108-B221-C1213A06789D.jpeg"></li>
        <li class="slide"><img src="千畳敷カール.jpg"></li>
      </ul>
      <div class="index-btn-wrapper">
        <div class="index-btn">1</div>
        <div class="index-btn">2</div>
        <div class="index-btn">3</div>
        <div class="index-btn">4</div>  
      </div>
    </div>
  <div class="contents">
    <h3 class="section-title">山の情報</h3>
    <div class="contents-item">
      <img src="P1016885.JPG">
      <p>＜鳥取県＞大山</p>
      <ul class="txt-contents">
        <li class="txt-content">大山は中国地方の最高峰（標高１,７２９ｍ）</li>
        <li class="txt-content">その秀麗な姿から「伯耆富士(ほうきふじ)」とも呼ばれる</li>
        <li class="txt-content">いずれの道もよく整備されており、夏山登山コースは初心者でも安心して登ることができる</li>
        <li class="txt-content">山頂では米子平野や弓ヶ浜半島や中海が望める！</li>
    </div>
    
    <div class="contents-item">
      <img src="IMG_0989.JPG">
      <p>＜兵庫県＞須磨アルプス</p>
      <ul class="txt-contents">
        <li class="txt-content">六甲山系の西端にある須磨アルプス</li>
        <li class="txt-content">（横尾山山頂：標高３１２,１ｍ）</li>
        <li class="txt-content">途中にある「馬の背」と称される岩稜地帯</li>
        <li class="txt-content">コース自体は初心者向けだがスリル満点な岩場に、右が海・左が街という眺望を楽しめる！</li>
      </ul>
    </div>
      
    <div class="contents-item">
      <img src="81746F83-3B35-4108-B221-C1213A06789D.jpeg">
      <p>＜長野県・岐阜県＞槍ヶ岳</p>
      <ul class="txt-contents">
        <li class="txt-content">日本で5番目に高い山（標高３,１８０ｍ）</li>
        <li class="txt-content">山頂に至るまでのコースはいずれも長距離で過酷</li>
        <li class="txt-content">初心者は上級者やガイドと共に行くのが望ましい</li>
        <li class="txt-content">山頂での３６０°の大パノラマは感動モノ！</li>
      </ul>
    </div>
    <div class="contents-item">
      <img src="千畳敷カール.jpg">
      <p>＜長野県＞木曽駒ヶ岳</p>
      <ul class="txt-contents">
        <li class="txt-content">中央アルプスの最高峰（標高２,９５６ｍ）</li>
        <li class="txt-content">ロープウェイで標高２,６００ｍまで一気にいける</li>
        <li class="txt-content">日本でも有数のお花畑が広がる</li>
        <li class="txt-content">眼下に広がる南アルプスの峰々は絶景！
      </ul>
    </div>
  </div>
</div>
　